@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* CSS VARIABLES */

:root {
  /* BUTTONS COLOR */
  --main-purple: #696fc7;
  --secondary-purple: #6065af;

  /* TEXT COLOR */
  --white: #fff;
  --black: #333;
}

body {
  background-color: #fffff7;
  display: flex;
  justify-content: center;
}

.dropdown-container {
  width: 200px;
}

/* HEADER BUTTON STYLINGS*/

.dropdown-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  list-style-type: none;
}

.header-btn {
  color: var(--white);
  width: clamp(100px, 20vw, 200px);
  background: var(--main-purple);
  border: none;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  cursor: pointer;
}

.header-btn:hover {
  background-color: var(--secondary-purple);
}

/* DROPDOWN LIST STYLINGS */

.dropdown-list {
  width: clamp(100px, 20vw, 200px);
  display: none;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3);
  list-style-type: none;
  cursor: pointer;
}

.dropdown-list li {
  background-color: var(--white);
  width: 100%;
  border-bottom: 1px solid var(--main-purple);
  padding: 1rem;
}

.dropdown-list a {
  color: var(--black);
  text-decoration: none;
}

.dropdown-list li:hover {
  background-color: var(--main-purple);
}

.dropdown-list li:hover a {
  color: var(--white);
}

.dropdown-list li:first-child:hover {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.dropdown-list li:last-child {
  border: none;
}

.dropdown-list li:last-child:hover {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.dropdown-list.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
